[user]
indicatorStyle=2
noWindowsListIfSingle=false
forceIconSize=true
iconSize=32
keyComboActive=false
pinned=/usr/share/applications/xfce-settings-manager.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/kitty.desktop;/usr/share/applications/google-chrome.desktop;
indicatorColor=rgb(115,116,247)
