// SCSS Variables
// Special
// $background: #2e3440;
$background: #25252d;
$foreground: #d8dee9;

// Colors
$color0: #2e3440;
// $color0: #3b4252;
$color1: #F06292;
$color2: #81C784;
$color3: #FFCC80;
$color4: #7374f7;
$color5: #7C4DFF;
$color6: #7C4DFF;
$color7: #e5e9f0;
// $color8: #4c566a;
$color8: #3b4252;
$color9: #d08770;
$color10: #a3be8c;
$color11: #ebcb8b;
$color12: #B388FF;
$color13: #7f818a;
$color14: #7E57C2;
$color15: #66686e;
